version: "3.8"

services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: flask-backend
    image: flask-backend-image
    ports:
      - "5000:5000"

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: flask-frontend
    image: flask-frontend-image
    ports:
      - "3000:3000"
    depends_on:
      - backend
